<div class="panel panel-default">

  <div class="panel-heading">
    <div class=input-group>
      <span class="panel-title">Greenbox {{$index+1}} </span>
      <button type="button" class="btn btn-primary" ng-show="!editingEnabled" ng-click="enableEditing()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
      <button type="button" class="btn btn-success" ng-show="editingEnabled" ng-click="doneEditing()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></span>

    </div>

    <!-- more correct header, keep if experimentation above does not pan out -->
    <!-- <div class="row">
      <div class="col-md-6"><div class="panel-title">Greenbox {{$index+1}}</div></div>
      <div class="col-md-6">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-show="!editingEnabled" ng-click="enableEditing(box)"></span>
        <button type="button" class="btn btn-primary" ng-show="editingEnabled" ng-click="doneEditing(box)">Save</span>
      </div>
    </div> -->

  </div>
  <div class="panel-body">
    <h4>Box id:</h4>
    {{box.boxId}}
    <br/><br/>
    <form class="form-inline">
      <h4>Plant name:</h4>
      <span ng-show="!userDefiningValues">{{selectedBoxType.selected.name}}</span>
      <input type="text" ng-show="editingEnabled && selectedBoxType.userDefined" class="form-control mb-2 mr-sm-2" ng-model="selectedBoxType.selected.name" />
      <br/><br/>

      <h4>Box type:</h4>
      <span>{{selectedBoxType.selected.type}}<span></br></br>

      <!-- <input type="text" ng-show="editingEnabled" class="form-control mb-2 mr-sm-2" ng-model="box.type" /></br> -->

      <ui-select ng-model="selectedBoxType.selected" theme="selectize" style="width: 300px;" title="Choose a box type" ng-show="editingEnabled">
        <ui-select-match allow-clear="true" placeholder="Choose a box type...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="boxType in populatedBoxList | filter: $select.search">
          <span ng-bind-html="boxType.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <!-- <h1 ng-repeat="x in populatedBoxList">{{x.name}} max:{{x.maxYearly}}</h1> -->

    </form>

    <br/>

    <form class="form-inline">
      <h4>Temperature profile:</h4>
      Yearly high temperature: <span ng-show='!userDefiningValues'>{{selectedBoxType.selected.maxYearly}} (°F)</span><input type="text" ng-show="editingEnabled && userDefiningValues" class="form-control mb-2 mr-sm-2" ng-model="selectedBoxType.selected.maxYearly" /><br/>
      Yearly low temperature: <span ng-show='!userDefiningValues'>{{selectedBoxType.selected.minYearly}} (°F)</span><input type="text" ng-show="editingEnabled && userDefiningValues" class="form-control mb-2 mr-sm-2" ng-model="selectedBoxType.selected.minYearly" /><br/>
      Daily temperature variance: <span ng-show='!userDefiningValues'>{{selectedBoxType.selected.dailyDiff}} (°F)</span><input type="text" ng-show="editingEnabled && userDefiningValues" class="form-control mb-2 mr-sm-2" ng-model="selectedBoxType.selected.dailyDiff" /><br/>
    </form>

    <br/><br/>

    <div role="tabpanel" class="tab-pane active container-fluid" id="home">
             <div class="row">
                 <div class="col-md-6"><div class="panel panel-default">
                 <div class="panel-body">
                   <canvas id="{{box.boxId+'Id'}}" style='width:10px;height=10px'></canvas>
                 </div>
             </div></div>
                 <div class="col-md-6"><div class="panel panel-default">
                 <div class="panel-body">
                   <canvas id="{{box.boxId+'DayId'}}"></canvas>
                 </div>
             </div></div>
             </div>
    </div>

  </div>
</div>
