<html lang="en">

<head>
  <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"></link>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-resource.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script>

  <script src="components/greenbox.js"></script>
  <script src="index.js"></script>

  <!-- help mobile sites view this page better -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl" class="container">

    <div ng-repeat="box in boxes">
      <greenbox></greenbox>

      <br/>
    </div>

    <button type="button" class="btn btn-primary" ng-click="getUser()">Get User</button>

  </div>
</body>

</html>
